<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('recordings') %></h1>
    </div>
</div>

<p>
  <a class="btn btn-large btn-info" href="<%= url_for(:controller => "recordings", :action => "depositor") %>"><%= t('recordingnewdepositor') %></a>
</p>