<p>Bonjour <%= @resource.firstname.capitalize %>!</p>

<p>Quelqu'un a rempli le formulaire pour changer votre mot de passe ou vous venez d'être enregistré sur le site web.</p>

<p>Vous pouvez initialiser ou changer votre mot de passe en cliquant sur le lien ci-dessous. (ce lien est valide un mois).</p>

<p><%= link_to 'Initialiser ou changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => 'fr') %></p>

<p>Dans le cas où vous n'êtes pas nouveau sur ce siteweb et si vous n'avez effectué aucune demande de changement de mot de passe, merci d'ignorer ce mail.</p>
<p>Votre mot de passe restera inchangé jusqu'à ce que vous en fassiez la demande en cliquant sur le lien ci-dessus.</p>

----------------------

<p>Hello <%= @resource.firstname.capitalize %>!</p>

<p>Someone has requested a link to change your password, or someone has just registered you on the website.</p>

<p>You can init or change your password by a click on the link below (the link is valid during one month).</p>

<p><%= link_to 'Init or Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => 'en') %></p>

<p>In case of you are not new on this website : If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
